{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-3" style="font-family:Khula">
    <div class="panel panel-primary" style="margin-top:20px;">
    <div class="panel-heading" style="font-family:Comfortaa">
        <a onclick="load_home()" style="cursor:pointer;" class="home_nav"><span class="glyphicon glyphicon-home" style="float:left;"></span>&nbsp;&nbsp; My Home </a>
    </div>
    <div class="panel-body">
        <b style="color:#448AFF;font-family:Comfortaa; ">GROUPS</b>
        <ul class="list-unstyled groups">
            {% for group in groups %}
                <li id="group_nav_{{ group.id }}">
                    <b onclick="load_files({{ group.id }},0)">
                        <span class="glyphicon glyphicon-folder-close small" id="nav_{{ group.id }}"></span>
                        {{ group.name|split|last }}
                    </b>
                    <span class="glyphicon glyphicon-refresh small loads" style="float:right;margin-right:10px;" onclick="load_files({{ group.id }},1)" id="group_loader_{{ group.id }}"></span>
                    <span class="glyphicon glyphicon-open small" style="float:right;margin-right:10px" onclick="upload_file({{ group.id }})"></span>
                    <ul id="files_{{ group.id }}" class="list-unstyled files">
                    </ul>
                </li>
            {% endfor %}
            {% if not groups %}
            <li style="color:red;cursor:default;"><b>Start working as a team!</b></li>
            {% endif %}
        </ul>
        <br><br>
        {% if personal %}
        <b onclick="load_files({{ personal.id }},0)" style="color:#00BFA5;padding-bottom:10px;cursor:pointer;width:auto;font-family:Comfortaa" id="nav_{{ personal.id }}">
            {{ personal.name }}
        </b>
        <span class="glyphicon glyphicon-refresh small loads" style="float:right;margin-right:10px;cursor:pointer;" onclick="load_files({{ personal.id }},1)" id="group_loader_{{ personal.id }}"></span>
        <span class="glyphicon glyphicon-open small" style="float:right;margin-right:10px;cursor:pointer;" onclick="upload_file({{ personal.id }})"></span>
        <ul id="files_{{ personal.id }}" class="list-unstyled files">
        </ul>
        {% endif %}
    </div>
    </div>
    <div class="panel panel-warning" id="upload_panel" style="display:none;">
        <div class="panel-heading"><b style="font-family:Comfortaa">Upload File</b></div>
        <div class="panel-body" id="upload_form" style="font-family:Khula">
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading"><b>Utilities</b></div>
        <div class="panel-body">
            <h5><b style="color:#448AFF;font-family:Comfortaa">GROUPS:</b></h5>
            <ul class="list-unstyled" style="line-height:2;margin-left:20px;">
                <li>
                    <a onclick="create_group()" class="utility_nav"><span class="glyphicon glyphicon-th-large small"></span>&emsp14;Create Group</a>
                    <div class="panel panel-default" id="create_group" style="display:none;">
                        <div class="panel-heading" style="font-family:Comfortaa">Create Group</div>
                        <div class="panel-body" id="create_group_body">
                        </div>
                    </div>
                </li>
                <li><a onclick="view_group_details()" class="utility_nav"><span class="glyphicon glyphicon-user small"></span>&emsp14;View/Edit Groups</a></li>
            </ul>
            <h6>Use <b>View/Edit Groups</b> to edit users.</h6>
            <h5><b style="color:#00BFA5;font-family:Comfortaa;">PERSONAL</b></h5>
            <ul class="list-unstyled" style="line-height:2;margin-left:20px;">
                <li><a onclick="get_change_password()" class="utility_nav"><span class="glyphicon glyphicon-lock small"></span>&emsp14;Change Password</a></li>
                <li><a onclick="get_edit_profile()" class="utility_nav"><span class="glyphicon glyphicon-user small"></span>&emsp14;Edit Profile</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-9" style="padding:20px;" id="content">
    <script>load_home()</script>
</div>
{% endblock %}